<section id="recent-works">
  <div class="container">
    <div class="center wow fadeInDown">
        <h2>Recent Trips</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <%= image_tag('tonle_sap.jpg', class: 'img-responive') %>
          <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">Tonle Sap</a></h3>
                <p>Enjoying some beers and relaxing at Tonle Sap lake</p>
                <a class="preview" href="<%= image_path('tonle_sap.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
              </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
            <%= image_tag('angkor_claine.jpg', class: 'img-responive') %>
            <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">Angkor Wat</a></h3>
                <p>Entrance to Angkor Wat</p>
                <a class="preview" href="<%= image_path('angkor_claine.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
              </div>
            </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <%= image_tag('angkor_thom.jpg', class: 'img-responive') %>
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Angkor Thomb</a></h3>
              <p>Famous for the movie Tomb Raider</p>
              <a class="preview" href="<%= image_path('angkor_thom.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <%= image_tag('water_image.jpg', class: 'img-responive') %>
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Phnom Kulen National Park </a></h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
              <a class="preview" href="<%= image_path('water_image.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <%= image_tag('koh_rong.jpg', class: 'img-responive') %>
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Business theme</a></h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
              <a class="preview" href="<%= image_path('koh_rong.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <%= image_tag('koh_rong.jpg', class: 'img-responive') %>
          <div class="overlay">
            <div class="recent-work-inner">
              <h3><a href="#">Business theme </a></h3>
              <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
              <a class="preview" href="<%= image_path('koh_rong.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <%= image_tag('koh_rong_beach.jpg', class: 'img-responive') %>
          <div class="overlay">
            <div class="recent-work-inner">
                <h3><a href="#">Business theme </a></h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                <a class="preview" href="<%= image_path('koh_rong_beach.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4 col-md-3">
        <div class="recent-work-wrap">
          <%= image_tag('koh_rong.jpg', class: 'img-responive') %>
          <div class="overlay">
              <div class="recent-work-inner">
                <h3><a href="#">Business theme </a></h3>
                <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                <a class="preview" href="<%= image_path('koh_rong.jpg') %>" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
              </div>
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div><!--/.container-->
</section><!--/#recent-works-->
