<section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2>Our Service</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                          <%=	image_tag('icons/airplane.png', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Airport Pickup</h3>
                            <p>Contact me for airport pickup on arrival</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                          <%= image_tag('icons/map', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Navigation</h3>
                            <p>Want to know where to go ? Just ask and I can help you </p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <%= image_tag('icons/motorbike', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Transportation</h3>
                            <p>Travel Siem Reap on a Tuk Tuk</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <%= image_tag('icons/waterfall', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Unique Tours</h3>
                            <p>Offering a wide variatey of tours</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <%= image_tag('icons/stand', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Street Food</h3>
                            <p>Explore local eateries and street food</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <%= image_tag('icons/angkor', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading">Angkor Wat</h3>
                            <p>Tour Guide to Angkor Wat</p>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->
