<section id="services" class="service-item">
	   <div class="container">
            <div class="center wow fadeInDown">
                <h2><%= phrase('service.our_service') %></h2>
                <p class="lead"><%= phrase('service.paragraph') %></p>
            </div>

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                          <%=	image_tag('icons/airplane.png', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><%= phrase('service.airport_pickup') %></h3>
                            <p><%= phrase('serivice.airport_paragraph') %></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                          <%= image_tag('icons/map.png', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><%= phrase('service.navigation') %></h3>
                            <p><%= phrase('service.navigation_paragraph') %></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <%= image_tag('icons/motorbike.png', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><%= phrase('service.trasnportation') %></h3>
                            <p><%= phrase('service.transportation_paragraph') %></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <%= image_tag('icons/waterfall.png', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><%= phrase('service.unique_tours') %></h3>
                            <p><%= phrase('service.unique_tours_paragraph') %></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <%= image_tag('icons/stand.png', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><%= phrase('service.street_food') %></h3>
                            <p><%= phrase('service.street_food_paragraph') %></p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <div class="pull-left">
                            <%= image_tag('icons/angkor.png', class: 'img-responsive') %>
                        </div>
                        <div class="media-body">
                            <h3 class="media-heading"><%= phrase('service.angkor_wat') %></h3>
                            <p><%= phrase('service.angkor_wat_paragraph') %></p>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#services-->
