<section id="feature" class="transparent-bg">
    <div class="container">
       <div class="center wow fadeInDown">
            <h2>Our Services</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <%= image_tag('saya.jpg', class: 'img-responsive img-rounded') %>
            </div><!--/.services-->
        </div><!--/.row-->

        <div class="get-started center wow fadeInDown">
            <h2>Ready to get started</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore  magna aliqua. <br>  Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
            <div class="request">
                <h4><%= link_to 'Contact Saya', contact_path %></h4>
            </div>
        </div><!--/.get-started-->

        <div class="clients-area center wow fadeInDown">
            <h2>What our customers say</h2>
            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>
        </div>

        <div class="row">
            <div class="col-md-4 wow fadeInDown">
                <div class="clients-comments text-center">
                    <%= image_tag('review1.jpg', class: 'img-circle') %>
                    <h3>Called him outside of business hours and he was more than willing to go out to the market and go to breakfast. Definitely recommend</h3>
                    <h4><span>-Joep-v-</span> TripAdvisor</h4>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown">
                <div class="clients-comments text-center">
                    <%= image_tag('review2.jpg', class: 'img-circle') %>
                    <h3>Great service friendly staff and they made sure we saw the best sites of Siem Reap/ Angkor temples what an amazing experience, Thanks Saya!</h3>
                    <h4><span>-Christopher K-</span> TripAdvisor</h4>
                </div>
            </div>
            <div class="col-md-4 wow fadeInDown">
                <div class="clients-comments text-center">
                    <%= image_tag('review3.jpg', class: 'img-circle') %>
                    <h3>Excellent service. Chheiya was really helpful, explained everything very well an couldn't have been nicer. Really enjoyed the tour</h3>
                    <h4><span>-Jari L-</span> TripAdvisor</h4>
                </div>
            </div>
       </div>

    </div><!--/.container-->
</section><!--/#feature-->


