<section id="contact-info">
    <div class="center">
        <h2>How to Reach Us?</h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>
    </div>
    <div class="gmap-area">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 text-center">
                    <div class="gmap">
                        <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed/v1/place?q=angkor+wat&key=AIzaSyAN0om9mFmy1QN6Wf54tXAowK4eT0ZUPrU"></iframe>
                    </div>
                </div>

                <div class="col-sm-7 map-content">
                    <address>
                        <h5><%= phrase('contact.location') %></h5>
                        <p><%= phrase('contact.address') %></p>
                        <p><%= phrase('contact.phone_number') %><br>
                        <%= phrase('contact.email_number') %></p>
                    </address>
                </div>
            </div>
        </div>
    </div>
</section>  <!--/gmap_area -->

<section id="contact-page">
    <div class="container">
        <div class="center">
            <h2><%= phrase('contact.drop_message') %></h2>
            <p class="lead"><%= phrase('contact.message_pragraph') %></p>
        </div>
        <div class="row contact-wrap">
            <div class="status alert alert-success" style="display: none"></div>
           <%= form_tag({controller: 'contacts', action: 'new'},  method: 'post', class: 'contact-form', name: 'contact-form', id: 'main-contact-form') do %>
                <div class="col-sm-5 col-sm-offset-1">
                    <div class="form-group">
                        <label>Name *</label>
                        <%= text_field_tag "contact[name]", value_for(:contact, :name), class: 'form-control', required: "true" %>
                    </div>
                    <div class="form-group">
                        <label>Email *</label>
                        <%= text_field_tag "contact[email]", value_for(:contact, :email), class: 'form-control', required: "true" %>
                    </div>
                    <div class="form-group">
                        <label>Phone</label>
                        <%= text_field_tag "contact[phone]", value_for(:contact, :phone), class: 'form-control', required: "true" %>
                    </div>
                </div>
                <div class="col-sm-5">
                    <div class="form-group">
                        <label>Subject *</label>
                        <%= text_field_tag "contact[subject]", value_for(:contact, :subject), class: 'form-control', required: "true" %>
                    </div>
                    <div class="form-group">
                        <label>Message *</label>
                        <%= text_area_tag "contact[message]", value_for(:contact, :message), class: 'form-control', required: "true", rows: '8' %>

                    </div>
                    <div class="form-group">
                        <button type="submit" name="submit" class="btn btn-primary btn-lg" required="required">Submit Message</button>
                    </div>
                </div>
            <% end %>
        </div><!--/.row-->
    </div><!--/.container-->
</section><!--/#contact-page-->
